html, body {
	margin: 0rem;
	padding: 0rem;
}

#menu {
	position: absolute;
	top: 0rem;
	padding: 0.5rem;
	background-color: blue;
}

#bottom {
	position: absolute;
	bottom: 0rem;
	padding: 0.5rem;
	background-color: black;
	display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.but{
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
	color: white;
}