html, body {
	margin: 0rem;
	padding: 0rem;
}

#page {
	width: 30rem;
}

/*Mas pequeño que 35rem de height*/
@media all and (max-height: 35rem) { 
	#title {
		margin-top: 1rem;
		position: absolute;
		height: 3rem;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		z-index: 3;
	}
}

/*Mas grande que 35rem de width*/
@media not all and (max-height: 35rem) {
	#title {
		margin-top: 1rem;
		position: fixed;
		height: 3rem;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		z-index: 3;
	}
}

#logo {
	position: relative;
    height: 20rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu {
	margin-top: 4.5rem;
	position: fixed;
	height: 2rem;
	left: 50%;
    transform: translate(-50%, 0);
	text-align: center;
	width: 100%;
    background-color: white;
    z-index: 2;
}

@media all and (max-width: 699px){
	.i{
		display: none;
	}
}
@media all and (min-width: 700px){
	.brI{
		display: none;
	}
}

@media not all and (max-width: 500px){
	.br1{
		display: none;
	}
}
@media not all and (max-width: 300px){
	.br2{
		display: none;
	}
}


#content {
	padding-top: 7rem;
    min-height: 100%;
    margin-bottom: 10rem;
    position: absolute;
    min-width: 100%;
	z-index: 1;
}

#button{
	background-color: Transparent;
	border: none;
	color: black;
}

#pil {
	position: fixed;
	height: 2.5rem;
	bottom: 7rem;
	left: 50%;
    transform: translate(-50%, 0);
	text-align: center;
}

.psi{
	font-family: 'Righteous', cursive;
	font-size: 2rem;
	text-align: center;
	color: black;
}

.i{
	font-family: 'Righteous', cursive;
	font-size: 2rem;
	text-align: center;
	color: #969696ff;
}

.logope{
	font-family: 'Righteous', cursive;

	font-size: 2rem;
	text-align: center;
	color: #0064ffff;
}

#bottom {
	min-width: 100%;
	top: 80%;
    height: 20%;
    position: fixed;
}

.but{
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
	color: white;
	white-space: nowrap;
}