html, body {
	margin: 0rem;
	padding: 0rem;
}

#page {
	width: 30rem;
}

#title {
	margin-top: 1%;
	position: absolute;
	height: 9%;
	left: 50%;
    transform: translate(-50%, 0);
}

#logo {
	position: relative;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu {
	position: absolute;
	min-width: 100%;
	background-color: blue;
	display: inline-flex;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
    justify-content: center;
}

#content {
	top: 10%;
    bottom: 30%;
    position: absolute;
    min-width: 100%;
}

#pil {
	height: 20%;
    bottom: 20%;
    position: absolute;
	display: inline-flex;
	justify-content: center;
    min-width: 100%;
}

.psi{
	font-family: 'Righteous', cursive;
	height: 100%
	font-size: 80%;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	text-align: center;
	color: black;
	white-space: nowrap;
}

.i{
	font-family: 'Righteous', cursive;
	height: 100%
	font-size: 80%;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	text-align: center;
	color: #969696ff;
	white-space: nowrap;
}

.logope{
	font-family: 'Righteous', cursive;
	height: 100%
	font-size: 80%;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	text-align: center;
	color: #0064ffff;
	white-space: nowrap;
}

#bottom {
	min-width: 100%;
	top: 80%;
    height: 20%;
    position: fixed;
}

.but{
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
	color: white;
	white-space: nowrap;
}